body {
  overflow-x: hidden;
  font-family: museo_sans500, sans-serif;
  color: #fff;
  line-height: 52px;
  background-color: #52BDF6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-logo {
  top: -115px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

.top-bg {
  background-image: url(../images/sausage-bg.png);
  background-repeat: repeat;
  background-color: #5A5A5A;
  position: absolute;
  top: -100px;
  height: 625px;
  left: -100px;
  right: -100px;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.bottom-bg {
  background-color: #52BDF6;
  position: relative;
  top: 425px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  padding-bottom: 62px;
  -webkit-box-shadow: 0px -100px 100px 0px rgba(50, 50, 50, .5);
  -moz-box-shadow:    0px -100px 100px 0px rgba(50, 50, 50, .5);
  box-shadow:         0px -100px 100px 0px rgba(50, 50, 50, .5);
  text-align: center;
  padding-top: 140px;
  font-size: 42px;
}

.next-meetup {
  font-family: museo_sans500_italic;
  font-size: 34px;
  margin-top: 32px;
  margin-bottom: 32px;
  display: inline-block;
  background-color: #0b7ebc;
  padding: 20px 20%;
  border-radius: 2px;
}

.next-meetup .date {
  font-weight: bold;
  padding: 2px 15px;
  letter-spacing: 5px;
  margin-bottom: 13px;
  display: inline-block;
  border-radius: 2px;
  border-bottom: solid 3px;
}

.futurice-logo {
  width: 140px;
  height: auto;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  position: relative;
  top: 10px;
}

.wapice-logo {
  width: 222px;
  height: auto;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  position: relative;
  top: 25px;
}

.sign-up-link,
.sign-up-link:visited
{
  color: #fff;
  display: block;
  margin-top: 42px;
  font-weight: bold;
}

.social-media {
  margin-top: 42px;
  display: flex;
  justify-content: center;
}

.social-media > a {
  display: inline-block;
}

.social-media-icon {
  margin: 0 16px;
  width: 64px;
  height: 64px;
}

.vincit-logo {
  width: 140px;
  height: auto;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  position: relative;
  top: 10px;
}

@media screen and (max-width: 800px) {
  .bottom-bg {
    font-size: 32px;
  }
}

@media screen and (max-width: 500px) {
  .top-logo {
    transform: scale(0.8);
    top: -155px;
  }

  body {
    line-height: 36px;
  }
  .bottom-bg {
    font-size: 22px;
    top: 380px;
    padding-top: 90px;
  }

  .next-meetup {
    font-size: 24px;
  }

  .social-media-icon {
    width: 48px;
    height: 48px;
  }

  .sign-up-link {
    margin-top: 24px;
  }

  .vincit-logo {
    top: 14px;
    transform: scale(0.8);
    left: -14px;
  }

  .futurice-logo {
    top: 14px;
    transform: scale(0.8);
    left: -14px;
  }
}

input {
  border: 1px solid #00caff;
  border-radius: 2px;
  background: #0b7ebc;
  color: white;
  width: 30%;
  font-size: 0.7em;
  font-weight: 400;
  height: 52px;
  padding: 10px 15px;
  margin: 0;
  outline: 0;
}

input:hover,
input:focus {
  background: #0b7ebc;
  color: white;
}

input.valid {
  background-color: #4B4B4B;
  color: #00caff;
}

.mailing-list-input {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

button {
  background: #4b4b4b;
  color: #00caff;
  border-radius: 2px;
  border: none;
  height: 72px;
  font-size: 1.3em;
  font-weight: 400;
  outline: none;
  padding: 2px 20px 10px 20px;
  margin: 1px 3px;
  box-shadow: none;
}

button:hover, button:disabled {
  background: #0b7ebc;
  color: white;
}

.spinner {
  position: relative;
  margin: 5px 2px 0 3px;
  border: 4px solid #fff;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  width: 20px;
  height: 20px;
  opacity: .8;
  border-radius: 50%;
  animation: loadingSpinner .7s infinite linear;
  -webkit-animation: loadingSpinner .7s infinite linear;
}

@keyframes loadingSpinner {
  from { transform: rotate(0deg)   }
  to   { transform: rotate(360deg) }
}

@-webkit-keyframes loadingSpinner {
  from { -webkit-transform: rotate(0deg)   }
  to   { -webkit-transform: rotate(360deg) }
}

noscript {
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.previous-events {
  display: flex;
  margin-top: 35px;
}

.previous-events-link {
  background-color: #4e4e4e;
  padding: 10px 23px;
  border-radius: 2px;
  margin: auto;
  color: white;
  text-decoration: none;
}

.previous-events-link:hover {
  background-color: #414141;
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}

/*  Previous events page styles */

.top-small {
  background-image: url(../images/sausage-bg.png);
  background-repeat: repeat;
  background-color: #5A5A5A;
  position: absolute;
  top: -50px;
  height: 280px;
  left: 0;
  right: 0;
  text-align: center;
}

.btm-small {
  background-color: #52BDF6;
  position: relative;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  padding-bottom: 62px;
  padding-top: 40px;
}

.previous-events-title-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.previous-events-page-title {
  font-size: 2.8em;
  margin: auto;
  padding-bottom: 50px;
  color:  white;
}

.previous-events-markdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #0b7ebc;
  border-radius: 2px;
  padding: 30px;
  margin: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.previous-events-markdown h2,
.previous-events-markdown h3 {
  padding: 0;
  margin: 0;
}

.previous-events-markdown h2 {
  color: white;
  font-size: 2em;
  padding-top: 20px;
  font-weight: bold;
}

.previous-events-markdown h3 {
  color: white;
  font-size: 1.5em;
}

.previous-events-markdown ul > li {
  font-size: 1.2em;
  color: white;
}

.previous-events-markdown ul > li > a,
.previous-events-markdown ul > li > p > a {
  color: white
}

.previous-events-markdown em {
  font-size: 14px;
  color: #00caff;
}

.previous-events-markdown ul > li > p {
  display: flex;
  justify-content: space-around;
}

.previous-events-markdown ul > li > a:hover {
  color: #52BDF6
}

.markdown-loading {
  margin: auto;
}

@media screen and (max-width: 800px) {
  .previous-events-markdown {
    padding: 10px;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 500px) {
  .previous-events-page-title {
    font-size: 2em;
  }

  .previous-events-markdown h2 {
    color: white;
    font-size: 1.2em;
    padding-top: 20px;
    font-weight: bold;
  }

  .previous-events-markdown h3 {
    color: white;
    font-size: 1em;
  }

  .previous-events-markdown ul > li {
    font-size: 12px;
    color: white;
    list-style-type: disc;
  }

  .previous-events-markdown em {
    font-size: 10px;
    color: #00caff;
  }
}

.not-found {
  display: flex;
  justify-content: center;
  margin: 80px 0 auto;
  font-size: 40px;
}



