body {
  overflow-x: hidden;
  font-family: museo_sans500, sans-serif;
  color: #fff;
  line-height: 52px;
  background-color: #52BDF6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-logo {
    top: -115px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
}

.top-bg {
  background-image: url(../images/sausage-bg.png);
  background-repeat: repeat;
  background-color: #5A5A5A;
  position: absolute;
  top: -100px;
  height: 625px;
  left: -100px;
  right: -100px;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.bottom-bg {
  background-color: #52BDF6;
  position:relative;
  top: 425px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  padding-bottom: 62px;
  -webkit-box-shadow: 0px -100px 100px 0px rgba(50, 50, 50, .5);
  -moz-box-shadow:    0px -100px 100px 0px rgba(50, 50, 50, .5);
  box-shadow:         0px -100px 100px 0px rgba(50, 50, 50, .5);
  text-align: center;
  padding-top: 140px;
  font-size: 42px;
}

.next-meetup {
  font-family: museo_sans500_italic;
  font-size: 34px;
  margin-top: 32px;
  display: inline-block;
  background-color: #0b7ebc;
  padding: 20px 20%;
  border-radius: 2px;
}

.next-meetup .date {
  font-weight: bold;
  padding: 2px 15px;
  letter-spacing: 5px;
  margin-bottom: 13px;
  display: inline-block;
  border-radius: 2px;
  border-bottom: solid 3px;
}

.futurice-logo {
  width: 140px;
  height: auto;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  position: relative;
  top: 10px;
}

.wapice-logo {
  width: 222px;
  height: auto;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  position: relative;
  top: 25px;
}

.sign-up-link,
.sign-up-link:visited
{
  color: #fff;
  display: block;
  margin-top: 42px;
  font-weight: bold;
}

.social-media {
  margin-top: 42px;
  display: flex;
  justify-content: center;
}

.social-media > a {
  display: inline-block;
}

.social-media-icon {
  margin: 0 16px;
  width: 64px;
  height: 64px;
}

.vincit-logo {
  width: 140px;
  height: auto;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  position: relative;
  top: 10px;
}

@media screen and (max-width: 800px) {
  .bottom-bg {
    font-size: 32px;
  }
}

@media screen and (max-width: 500px) {
  .top-logo {
    transform: scale(0.8);
    top: -155px;
  }

  body {
    line-height: 36px;
  }
  .bottom-bg {
    font-size: 22px;
    top: 380px;
    padding-top: 90px;
  }

  .next-meetup {
    font-size: 24px;
  }

  .social-media-icon {
    width: 48px;
    height: 48px;
  }

  .sign-up-link {
    margin-top: 24px;
  }

  .vincit-logo {
    top: 14px;
    transform: scale(0.8);
    left: -14px;
  }

  .futurice-logo {
    top: 14px;
    transform: scale(0.8);
    left: -14px;
  }
}


